.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #18305c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.blog-list-card {
  background-color: #000000;
    border: 1px solid yellow;
    border-radius: 20px;
    margin: 10px 50px 50px 50px;
    padding: 20px;
    max-width: 800px;

}

.blog-list {
  overflow-y: scroll;
  max-height: 80vh;
  
}

.footer {
  font-weight: lighter;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
}

.circle-img {
  border-radius: 50%;
  /* border: 2px solid rgb(255, 255, 255); */
  width: 100px;
  height: 100px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid yellow;
  background-color: #000000;
  border-radius: 20px;
  margin: 50px 80px 15px 80px;
  max-width: 800px;

}

.author-text {
  font-weight: 200;
  margin: 10px;
  padding: 5px;
  
  
}

.author-text:hover {
  background-color: #bbbe06;
  border-radius: 10px;
  padding: 2px 5px 2px 5px;
  color: black;
  
}